body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #000000;
  text-decoration: none;
}
span {
  padding-right: 10px;
}
.id_number {
  display: inline-block;
  width: 20px;
}