a {
  color: #000000;
  text-decoration: none;
}
.active {
  color: #555555;
}
body {
  padding: 50px;
  background: #dde9f9;
  font-family: 'Asap', sans-serif;
}
form {
  margin-bottom: 15px;
}
h1 {
  font-size: 3em;
}
.id_number {
  display: inline-block;
  width: 20px;
}
label {
  display: block;
  width: 300px;
  padding-right: 30px;
  padding-bottom: 15px;
}
label input {
  float: right;
}
p {
  font-size: 1.1em;
}
span {
  padding-right: 10px;
}
ul {
  padding: 0px;
  margin: 0px;
}
ul li {
  display: inline;
  margin: 0px;
  padding: 0px 40px 0px 0px;
}
