<!DOCTYPE html>
<html>
<head>
  <title>brain test</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="/stylesheets/font-awesome.css">

  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="/javascripts/brain.js"></script>
</head>

<body onload="init();">
  <div class="container">
    <div class="inner-container">
      <canvas id="canvas"></canvas>
    </div>
  </div>
</body>

</html>