<!DOCTYPE html>
<html>
  <head>
    <title>brains</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link href="http://fonts.googleapis.com/css?family=Asap:400,700" rel="stylesheet" type="text/css" />

    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  </head>

  <body onload="init();">
    <h1><a href="/">Emerald City Real Estate</a></h1>
    
    <h2>
      <ul>
        <li><a href="/" id="home">home</a></li>
        <li><a href="/heart" id="heart">heart</a></li>
        <li><a href="/courage" id="courage">courage</a></li>
        <li><a href="/brains" id="brains" class="active">brains</a></li>
      </ul>
    </h2>

    <form action="/submitData" method="post">

      <label>user id
          <input name="userId" type="number" required />
      </label>

      <label>current street address?
          <input name="streetAddress" type="text" /> <!-- convert to number -->
      </label>

      <label>user zipcode
          <input name="zipcode" type="text" required />
      </label>

      <input value="submit" type="submit" />

    </form>

  </body>
</html>