<!DOCTYPE html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Emerald City Realty :: Events</title>

  <link rel="icon" HREF="images/ec_fav.png" />
  <link rel="stylesheet" href="/stylesheets/layouts.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <script src="javascripts/app.js"></script>

</head>

<body>
  <div class="container">

    <div class="logo">
      <img src="images/logo.png" />
    </div>

    <div class="links_bar">
      <div class="nav_links">
        <ul>
          <li><img src="/images/ornateLeft.png" width="33" height="35" /></li>
          <li><a href="/" id="home">hOME</a></li>
          <li><a href="/brains" id="brains">bRAIN</a></li>
          <li><a href="/heart" id="heart">hEART</a></li>
          <li><a href="/courage" id="courage">cOURAGE</a></li>
          <li><a href="/leisure" id="leisure">lEISURE</a></li>
          <li><a href="/events" id="events" class="active">eVENTS</a></li>
          <li><a href="/gallery" id="gallery">gALLERY</a></li>
          <li><a href="/contact" id="contact">cONTACT</a></li>
          <li><img src="/images/ornateRight.png" width="33px" height="35px" /></li>
        </ul>
      </div><!--Ends the nav_links div-->
    </div><!--Ends the links_bar div-->

    <!--Body content div-->
    <div class="content">

      <!--Body content inner div-->
      <div class="content_content">
      <!--Text/Images go here-->  
      <!--Sales_content is for the individual sections of the content container-->
      
        <h2 class="content_center">Events</h2>

          <div class="sales_content">
            <div class="content_left_column">
              <h3>Munchkinland</h3>
              <ul>
                <li><strong>Fridays at 5pm:</strong> The Lollipop Guild Song & Dance Show at the Kansas House Front Porch</li>
                <li><strong>Fridays at 6pm:</strong> The Lullaby League Ballet Recital at the LillyPad Stage</li>
                <li><strong>Saturdays at 9am:</strong> Munchkinland Farmer’s Market on the Yellow Brick Road</li>
                <li><strong>Saturdays at 7pm:</strong> The Marching Munchkins in Town Square</li>
                <li><strong>Sunday at 4pm:</strong> Parade featuring the Horse Of Another Color and the Marching Munchkins in Town Square</li>
              </ul>
            </div>

            <div class="content_right_column">
              <img src="../../images/sample.png" />
            </div>

          </div>

          <div class="sales_content">
            <div class="content_right_column">
              <h3>Witch’s Castle</h3>
              <ul>
                <li><strong>Fridays at 8pm:</strong> The Flying Monkeys Air Show on the Castle Lawn</li>
                <li><strong>Fridays & Saturdays from 9pm – 1am:</strong> Wicked Witch’s Haunted House open at the Entrance of the Witch’s Forest</li>
                <li><strong>Saturdays at 11am:</strong> A Witch’s Bazaar Flea Market on the Castle Lawn</li>
                <li><strong>Saturdays at 6pm:</strong> Wicked Wine Tasting in the Castle Library</li>
                <li><strong>Sundays at 6pm:</strong> The Flying Monkeys Air Show on the Castle Main Balcony<li>
              </ul>
            </div>

            <div class="content_left_column">
              <img src="../../images/sample.png" />
            </div>

          </div>

          <div class="sales_content">
            <div class="content_left_column">
              <h3>Emerald City</h3>
              <ul>
                <li><strong>Fridays at 7pm:</strong> Wizard’s Parade featuring the Horse of Another Color, Oz’s Marching Wizards and even the Great Oz himself in City Center</li>
                <li><strong>Fridays at 9pm:</strong> Emerald City Tap Dancers dancing to local band Emerald Wands at the Oz Pub</li>
                <li><strong>Saturdays at 9am:</strong> Emerald City Farmer’s Market in City Center</li>
                <li><strong>Sundays at 7pm:</strong> Wizard’s Jazz & Swing Band at the Emerald Lounge</li>
              </ul>
            </div>

            <div class="content_right_column">
              <img src="../../images/sample.png" />
            </div>
          </div>

      </div>
      <!--Ends the content_content div -->
    <!--Body content inner div end-->
    </div><!--Ends the content div -->
    <!--Body content div end-->

    <div class="footer">

      <div class="center">
        Emerald City Real Estate&trade; is a realogy company owned by Oz Properties&trade;, a subsidiary of Munchkin Real Funding.</br>
        ECRE&trade; is not responsible for any hazards related to the sale or occupation of homes purchased within the Emerald City or any of its surrounding areas</br>
        &copy;2013</br>
      </div>
     
      <div class="right">
        <img src="images/realtor.png">
        <img src="images/equal.png">
      </div>

    </div><!--Ends the footer div -->

  </div><!--Ends the container div -->

</body>
</html>