<!DOCTYPE html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Emerald City Realty :: Gallery</title>

  <link rel="icon" HREF="images/ec_fav.png" />
  <link rel="stylesheet" href="/stylesheets/layouts.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <script src="javascripts/app.js"></script>

</head>

<body>
  <div class="container">

    <div class="logo">
      <img src="images/logo.png" />
    </div>

    <div class="links_bar">
      <div class="nav_links">
        <ul>
          <li><img src="/images/ornateLeft.png" width="33" height="35" /></li>
          <li><a href="/" id="home">hOME</a></li>
          <li><a href="/brains" id="brains">bRAIN</a></li>
          <li><a href="/heart" id="heart">hEART</a></li>
          <li><a href="/courage" id="courage">cOURAGE</a></li>
          <li><a href="/leisure" id="leisure">lEISURE</a></li>
          <li><a href="/events" id="events">eVENTS</a></li>
          <li><a href="/gallery" id="gallery" class="active">gALLERY</a></li>
          <li><a href="/contact" id="contact">cONTACT</a></li>
          <li><img src="/images/ornateRight.png" width="33px" height="35px" /></li>
        </ul>
      </div><!--Ends the nav_links div-->
    </div><!--Ends the links_bar div-->

    <!--
    <div class="connect">
      <div class="connect_links">
        <ul>
          <li><a href="http://www.facebook.com"><img src="images/fb_icon.png" /></a></li>
          <li><a href="http://www.twitter.com"><img src="images/t_icon.png" /></a></li>
          <li><a href="http://www.google.com/+"><img src="images/plus_icon.png" /></a></li>
        </ul>
      </div>
     
      <div class="connect_indicator"><img src="images/socialInd.png" /></div>
    </div>-->

    <!--Body content div-->
    <div class="content">

      <!--Body content inner div-->
      <div class="content_content">
      
      <h2 class="content_center">Gallery</h2>

        <div class="sales_content">
          <img src="../images/gallery/emerald_city_01.jpg" class="gallery" />
          <img src="../images/gallery/emerald_city_02.jpg" class="gallery" />
          <img src="../images/gallery/emerald_city_03.jpg" class="gallery" />
          <img src="../images/gallery/munchkin_01.jpg" class="gallery" />
          <img src="../images/gallery/munchkin_02.jpg" class="gallery" />
          <img src="../images/gallery/munchkin_03.jpg" class="gallery" />
          <img src="../images/gallery/witch_castle_01.jpg" class="gallery" />
          <img src="../images/gallery/witch_castle_02.jpg" class="gallery" />
          <img src="../images/gallery/witch_castle_03.jpg" class="gallery" />
        </div>

      </div><!--Ends the content_content div-->
    <!--Body content inner div end-->
    </div><!--Ends the content div -->
    <!--Body content div end-->

    <div class="footer_cap"></div>

    <div class="footer">

      <div class="center">
        Emerald City Real Estate&trade; is a realogy company owned by Oz Properties&trade;, a subsidiary of Munchkin Real Funding.</br>
        ECRE&trade; is not responsible for any hazards related to the sale or occupation of homes purchased within the Emerald City or any of its surrounding areas</br>
        &copy;2013</br>
      </div>
     
      <div class="right">
        <img src="images/realtor.png">
        <img src="images/equal.png">
      </div>
     
      <div class="footer_cap"></div>

    </div><!--Ends the footer div -->

  </div><!--Ends the container div -->

</body>
</html>