<!DOCTYPE html>
<html>
  <head>
    <title>heart</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="http://fonts.googleapis.com/css?family=Asap:400,700" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h1><a href="/">Emerald City Real Estate</a></h1>
    
    <h2>
      <ul>
        <li><a href="/" id="home">home</a></li>
        <li><a href="/heart" id="heart" class="active">heart</a></li>
        <li><a href="/courage" id="courage">courage</a></li>
        <li><a href="/brains" id="brains">brains</a></li>
      </ul>
    </h2>

    <form action="/submitData" method="post">

        <label>user id
            <input name="userId" type="number" />
        </label>

        <label>user first name
            <input name="firstName" type="text" />
        </label>

        <label>favorite feature about your current house?
            <input name="favoriteHouseFeature" type="text" />
        </label>

        <input value="submit" type="submit" />

    </form>
  </body>
</html>