<!DOCTYPE html>
<html>
  <head>
    <title>Thank You!</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="http://fonts.googleapis.com/css?family=Asap:400,700" rel="stylesheet" type="text/css" />
  </head>

  <body>

    <p>Thanks for submitting!  Please continue on to the remaining sections.</p>

    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="/javascripts/data-submitted.js"></script>
  </body>
</html>