@charset "UTF-8";
/* CSS Document */

body, html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
	
.connect {
	position: fixed;
	z-index: 1;
	top: 215px;
	left: -37px;
	height: auto;
	padding-right: 25px;
	transition: all 1s ease-in-out;
}

.connect div.slogan {
  -moz-transform: rotate(-90deg);
  transform: rotate(-90deg);
	min-width: 150px;
	position: relative;
}

.connect img {
	padding: 5px;
}

.connect ul {
	list-style: none outside none;
	margin: 0;
	padding: 0;
	width: 32px;
}

.connect_indicator {
	width: 40px;
	height: 40px;
	float: right;
}

.connect_links {
	float: left;
	border-bottom-right-radius: 10px;
	padding-right: 5px;
}

.connect:hover {
	left: 0px;
}

.contact {
	min-height: 700px;
}

.container {
	min-height: 100%;
	position: relative;
	min-width: 984px;
}

.content {
	position: relative;
	height:auto !important;
	min-height: 100%;
	top: -25px;
	overflow-y: none;
}

.content_content{
	display: block;	
	min-width: 900px;
	width: 70%;
	min-height: 500px;
	height: 100%;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
	bottom: 0;
  padding: 10px;
}

.content_center {
	width: 100%;
	padding: 5;
	text-align: center;
}

.content_left_column {
	float: left;
	width: 45%;
	padding-right: 5%;
	min-height: 300px;
}

.content_right_column {
	/*float: right;*/
	width: 41%;
}

.fixed {
	position: fixed;
	width: 100%;
}

.footer {
	height: 75px;
	bottom: 0px;
	/*position: fixed;*/
	width: 100%;
}

.footer .center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	padding-top: 20px;
}
	
.footer .right {
	padding: 10px;
	position: absolute;
	right: 0px;
	bottom: 0px;
}

.footer_bottom {
	height: 3px;
	width: 100%;
	bottom: 0px;
	position: absolute;
}

.footer_cap {
	height: 3px;
	width: 100%;
	top: 0px;
	position: absolute;
}

.footer_content{
	display: block;	
	margin-right: auto;
	margin-left: auto;
}

.gallery {
	padding: 10px;
	width: 250px;
}
	
.header {
	height: 130px;
	width: 100%;
	position: absolute;
	top: 0px;
}

/* not used -ehm-
.inner_frame {
	height: 290px;
	width: 525px;
	position: relative;
}*/

iframe {
	display: block;
	margin: 0;
	padding: 0;
	height: 500px;
	width: 100%;
	border: none;
}

.links_bar {
	height: 40px;
	margin-bottom: 35px;
}

.logo {
	padding-top: 10px;
	height: 155px;
	width: 100%;
}

.logo img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.nav_links {	
	width: 100%;
	height: 35px;
	display: block;	
	text-align: center;
}

.nav_links img {
	/*padding-top: 3px;
	float: left;
	padding-right: 55px;*/
	margin: -7px;
}

/*.nav_links img.end { not used -ehm-
	padding-top: 3px;
	float: left;
	padding-right: 0px;
}*/

.nav_links li {
  float: left;
  list-style: none;
  margin: 0;
  padding-right: 50px;
  padding-top: 10px;
}

.nav_links ul {
  list-style: none;
  display: inline-block;
}

/* not used -ehm-
.ornate_left {
	position: absolute;
	left: 275px;
	top: 3px;
}

.ornate_right {
	position: absolute;
	left: 935px;
	top: 3px;
}

.pictureFrame {
	height: 350px;
	width: 575px;
	position: relative;
}*/

.resizable_canvas {
	width: 100%;
	height: 100%;
	margin-left: -80px;
	padding: 0px 50px;
	border: none;
	-moz-box-sizing: padding-box;
}

.sales_content {
	padding: 20px 0px 20px 40px;
	/*margin-top: 10px;*/
	margin: 0px 40px 10px 40px;
	position: relative;
	display: block;
	/*margin-right: auto;*/
	margin-left: auto;
}

.sales_content .entry {
	width: 800px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.sales_content .entry .left_content {
	padding: 100px;
}

.sales_content .entry img.clear {
	left: -10px;
	position: absolute;
	padding-top: 10px;
}
/*
.sales_content .entry .left_content li { 
	padding-top: 10px;
}	*/

.sales_content .innerhtml {
	/*width: 800px;*/
	/*height: 601px;*/
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#slogan2 {
	position: absolute;
	left: 215px;
	top: 335px;
}

#slogan3 {
	position: absolute;
	top: 310px;
	left: 120px;
}

.top {
	top: 0px;
}

ul {
	margin: 0px;
	padding: 0px;
}

.watermark {
	position: absolute;
	z-index: 0;
	width: 100%;
}

.wrapper {
	min-height: 450px;
}