<!DOCTYPE html>
<html>
  <head>
    <title>courage</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="http://fonts.googleapis.com/css?family=Asap:400,700" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h1>courage</h1>

    <form action="/submitData" method="post">

        <label>user id
            <input name="userId" type="text" />
        </label>

        <!-- <label>video information
            <input name="couragePass" type="text" />
        </label> -->

        <input value="create user" type="submit" />

    </form>
  </body>
</html>