<!DOCTYPE html>
<html>
  <head>
    <title>Emerald City Real Estate</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="http://fonts.googleapis.com/css?family=Asap:400,700" rel="stylesheet" type="text/css" />
  </head>

  <body>

    <h1>Emerald City Real Estate</h1>
  
    <h2>
      <ul>
      	<li><a href="/" id="home" class="active">home</a></li>
        <li><a href="/heart" id="heart">heart</a></li>
        <li><a href="/courage" id="courage">courage</a></li>
        <li><a href="/brains" id="brains">brains</a></li>
      </ul>
    </h2>

    <form action="/user" method="get">

      <label>view user
        <input name="userId" type="text" />
      </label>

      <input value="submit" type="submit" />

    </form>

  </body>
</html>