<!DOCTYPE html>
<html>
  <head>
    <title><%= user.firstName %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= user.firstName %></h1>
    <p>Welcome to <%= user.firstName %></p>
  </body>
</html>
