<!DOCTYPE html>
<html>
  <head>
    <title><%= user.firstName %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="http://fonts.googleapis.com/css?family=Asap:400,700" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h1><%= user.firstName %></h1>
    <p>Welcome to <%= user.firstName %></p>
  </body>
</html>
