<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Heart Card</title>

	<!-- SCC style for card -->
	<link rel="stylesheet" href="/stylesheets/style.css">
	<link rel="stylesheet" href="/stylesheets/layout.css">

	<!-- JavaScript libraries -->
	<script type="text/javascript" src="/javascripts/jquery-1.8.2.min.js"></script>
	<script type="text/javascript" src="/javascripts/paper-min.js"></script>
	<script type="text/paperscript" src="/javascripts/heart.js"></script>
	<script type="text/javascript" src="/javascripts/app.js"></script>

</head>

<body>

	<canvas id="canvas" resize></canvas>
	<div id="greeting_text" style="visibility:hidden"><h1><h2>Test Your Heart!<h1><a href="CaptivateQuiz/index.html">Take the Quiz.</a></div>
	<!-- <div id="social_icons" style="visibility:hidden">
		<div id="icon"><a href="http://activeden.net/" target="_blank">
			<img src="icon/facebook.png" border="0" alt="facebook"/></a></div>
		<div id="icon"><a href="http://activeden.net/" target="_blank">
			<img src="icon/twitter.png" border="0" alt="twitter"/></a></div>
		<div id="icon"><a href="http://activeden.net/" target="_blank">
			<img src="icon/gplus.png" border="0" alt="google_plus"/></a></div>
		<div id="icon"><a href="http://activeden.net/" target="_blank">
			<img src="icon/youtube.png" border="0" alt="youtube"/></a></div>
		<div id="icon"><a href="http://activeden.net/" target="_blank">
			<img src="icon/email.png" border="0" alt="email"/></a></div>
	</div> -->
	<audio id="audio"></audio>

	<input type="image" name="submit" id="bt_sound" src="icon/bt_enable.png" style="visibility:hidden">

</body>
</html>